/* src/Default.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.default-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* Styles for the Sign In button */
nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #555; /* Darker background on hover */
}
